@font-face {
    font-family: "Palanquin-Regular";
    src: url("./fonts/Palanquin-Regular.ttf");
}

body {
    font-family: "Palanquin-Regular";
}

.main_header {
    display: flex;
    justify-content: center;
    height: 90px;
    background-color: rgb(231, 108, 31);
}

.monitor_border_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    height: 90px;
}

.main_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90px;
    background-color: rgb(231, 108, 31);
    color: white;
}

.main_footer a {
    color: white;
    text-decoration: underline;
}

.hero_photo {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.hero_section {
    position: relative;
}

.burger_overlay {
    height: 200px;
    position: absolute;
    left: 50%;
    bottom: -48%;
    transform: translate(-50%, -50%);
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    font-weight: 600;
    margin-bottom: 36px;
}

h1 {
    font-size: 50px;
}

.heading div {
    display: flex;
    align-items: center;
    gap: 16px;
}

.heading div img {
    height: 24px;
    margin-top: 10px;
}

.choose_the_category {
    background-color: rgb(253, 234, 220);
    color: black;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    margin-bottom: 58px;
}

.choose_the_category span {
    align-items: center;
    text-decoration: underline;
    align-self: center;
}

.choose_the_category a {
    color: black;
    font-weight: 600;
    font-size: 20px;
}

.choose_the_category a:hover {
    text-decoration: underline;
}

.three_categories {
    display: flex;
    justify-content: space-around;
}

.monitor_border_main {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    /*auto sorgt für gleiche Abstände links und rechts*/
    display: flex;
    flex-direction: column;
}

.responsive_sticky {
    display: none;
}