@font-face {
    font-family: "Palanquin-Regular";
    src: url("./fonts/Palanquin-Regular.ttf");
}

body {
    font-family: "Palanquin-Regular";
}

.main_header {
    display: flex;
    justify-content: center;
    height: 90px;
    background-color: rgb(231, 108, 31);    
}

.monitor_border_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    height: 90px;
}

.hero_photo {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.hero_section {
    position: relative;
}

.burger_overlay {
    height: 200px;
    position: absolute;
    left: 50%;
    bottom: -48%;
    transform: translate(-50%, -50%);
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    font-weight: 600;
    margin-bottom: 36px;
}

h1 {
    font-size: 50px;
}

.heading div {
    display: flex;
    align-items: center;
    gap: 16px;
}

.heading div img {
    height: 24px;
    margin-top: 10px;
}

.monitor_border_main {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto; /*auto sorgt für gleiche Abstände links und rechts*/
  display: flex;
  flex-direction: column;
  flex:1;
}