.individual_menu {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 900px;
    background-color: #FDEADC;
    padding: 5px;
    border-radius: 16px;
    padding-right: 24px;
}

.complete_menu_section {
    margin-bottom: 24px;
}

.main_dishes {
    flex: 1;
    padding-left: 6px;
}

.add_and_price {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 56px;
    font-weight: 700;
}

.orange_line {
    display: flex;
    align-items: center;
    color: white;
    background-color: #E76C1F;
    height: 42px;
    gap: 12px;
    margin-block: 42px;
    border-radius: 10px;
    width: calc(100% + 360px);
    position: relative;
}

.orange_line img {
    position: absolute;
    bottom: -8%;
    height: 80px;
}

.orange_line h2 {
    padding-left: 95px;
}

.add_button {
    border-radius: 16px;
    cursor: pointer;
    border: none;
    background-color: white;
    font-weight: 700;
    padding: 8px;
}