.split_the_screen {
    display: flex;
    flex-direction: row;
}

.split_the_screen_content {
    width: calc(100% - 320px);
}

.split_the_screen_shopping_cart {
    padding-top: 42px;
    width: 320px;
}

.shopping_cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    height: 650px;
    position: sticky;
    top: 0;
    background-color: #363534;
    color: #FDEADC;
}

#addedMenus {
    height: 450px;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #FDEADC #363534;
}

.showBasketMenu {
    margin-bottom: 16px;
    width: 280px;
    border: 1px solid #FDEADC;
    border-radius: 10px;
    padding-inline: 6px;
    margin-right: 5px;
}

.btn_increase_recycle {
    border: none;
    cursor: pointer;
    background: none;
    padding: 0;
}

.btn_increase_recycle img {
    border-radius: 10px;
    background-color: #FDEADC;
    width: 20px;
}

.for_btn_and_price {
    display: flex;
    justify-content: space-between;
}

.costs_dishes {
    border-top: 1px solid #FDEADC;
    width: 250px;
}

.distance_price {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}
