.split_the_screen {
    display: flex;
    flex-direction: row;
}

.split_the_screen_content {
    width: calc(100% - 360px);
}

.split_the_screen_shopping_cart {
    padding-top: 42px;
    width: 360px;
}

.shopping_cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    height: 650px;
    position: sticky;
    top: 0;
    background-color: #363534;
    color: #FDEADC;
    margin-bottom: 8px;
    box-shadow: -7px 15px 15px 1px black;
}

.shopping_cart h2{
    border-bottom: 1px solid #FDEADC;
    font-size: 26px;
    margin-bottom: 8px;
}

#addedMenus {
    height: 416px;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #FDEADC #363534;
}

.showBasketMenu {
    margin-bottom: 16px;
    width: 280px;
    border: 1px solid #FDEADC;
    border-radius: 10px;
    padding-inline: 6px;
    margin-right: 5px;
}

.btn_increase_recycle {
    border: none;
    cursor: pointer;
    background: none;
    padding: 0;
}

.btn_increase_recycle img {
    border-radius: 10px;
    background-color: #FDEADC;
    width: 20px;
}

.for_btn_and_price {
    display: flex;
    justify-content: space-between;
}

.costs_dishes {
    border-top: 1px solid #FDEADC;
    width: 250px;
    margin-top: 8px;
}

.distance_price {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.btn_order_now {
    cursor: pointer;
    background-color: #E76C1F;
    color: white;
    border-radius: 10px;
    padding-inline: 12px;
    margin-top: 12px;
    font-family: "Palanquin-Regular";
    font-size: 20px;
}

.order_display {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    font-size: 24px;
    font-style: italic;
}