@media (max-width: 1470px) {
    .main_header {
        padding-inline: 22px;
    }
}

@media (max-width: 1000px) {
    .individual_menu {
        flex-direction: column;
        align-items: center;
        padding: 6px;
        width: 320px;
    }

    .individual_menu img {
        height: 150px;
        width: 100%;
    }

    .main_dishes {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .complete_menu_section {
        display: flex;
        justify-content: center;
    }

    .add_and_price {
        flex-direction: row;
    }
}

@media (max-width: 730px) {
    .shopping_cart {
        width: 310px;
    }

    .split_the_screen_shopping_cart {
        width: 310px;
    }

    .orange_line {
        width: calc(100% + 310px);
    }

    .split_the_screen_content {
        width: calc(100% - 310px);
    }

    .showBasketMenu {
        width: 244px;
    }
}

@media (min-width: 600px) {
    .x_btn {
        display: none;
    }
}

@media (max-width: 600px) {
    .split_the_screen_content {
        width: 100%;
        position: relative;
    }

    .monitor_border_main {
        padding-inline: 12px;
    }

    .split_the_screen {
        flex-direction: column;
    }

    .choose_the_category a {
    font-size: 18px;
}

    .responsive_sticky {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        position: sticky;
        bottom: 0;
        background-color: #363534;
        color: #FDEADC;
        height: 64px;
        width: 100%;
        border-radius: 16px;
    }

    .shopping_cart {
        display: none;
        margin: auto;
        position: fixed;
        width: 320px;
    }

    .orange_line {
        width: 100%;
    }

    .split_the_screen_shopping_cart {
        padding-top: 0;
        width: 100%;
    }

    .opened_dialog {
        display: flex;
    }

    .opened_dialog::backdrop {   
        background-color: rgba(0,0,0,0.4);
    }

    .x_btn {
        border-radius: 10px;
        color: #FDEADC;
        background-color: #363534;
        cursor: pointer;
        height: 26px;
    }

    .header_dialog {
        display: flex;
        justify-content: space-between;
    }

}

@media (max-width: 430px) {
    .monitor_border_header {
        height: 56px;
    }

    .main_header {
        height: 56px;
        padding-inline: 26px;
    }

    .main_header img {
        height: 40px;
    }

    .hero_photo {
        height: 226px;
    }

    .burger_overlay {
        height: 116px;
    }

    .heading {
        padding-top: 46px;
        margin-bottom: 12px;
    }

    .heading h2 {
        font-size: 18px;
    }

    h1 {
        font-size: 32px;
    }

    .choose_the_category {
        margin-top: 15px;
    }

    .individual_menu {
        width: 280px;
    }

    .individual_menu img {
        height: 122px;
        width: 100%;
        object-fit: cover;
        border-radius: 16px;
    }

    .orange_line {
        margin-block: 24px;
        height: 36px;
    }

    .orange_line img {
        height: 58px;
    }

    .orange_line h2 {
        font-size: 22px;
        padding-left: 62px;
    }

    .main_footer {
        height: 56px;
        font-size: 12px;
    }
}

@media (max-width: 400px) {
    .shopping_cart {
        width: 300px;
        height: 550px;
        padding: 8px;
    }

    #addedMenus {
        height: 320px;
    }

    .showBasketMenu {
        width: 212px;
    }

    .costs_dishes {
        width: 200px;
    }

    .distance_price {
        font-size: 16px;
    }

    .btn_order_now {
        font-size: 18px;
    }
}